<%= form_with(model: tweet, id: dom_id(tweet)) do |form| %>
  

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Tweet', :class => 'btn btn-primary mt-2' %>
  </div>
<% end %>
